version: "3.8"
services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      target: dev
    ports:
      - "8080:8080"
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - frontend_node_modules:/app/node_modules
    container_name: se-frontend
    environment:
      - CHOKIDAR_USEPOLLING=true
    restart: unless-stopped

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: se-backend
    ports:
      - "3000:3000"
    environment:
      - SPRING_PROFILES_ACTIVE=prod
    restart: unless-stopped

volumes:
  frontend_node_modules:
